.grid {
    display: grid;
    gap: .5rem;
    width: max-content;
}

.asiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: var(--color-secundario);
    color: var(--color-enfasis);
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
}

.seleccionado {
    background-color: var(--color-enfasis);
    color: var(--color-texto);
    transform: scale(1.05);
}

.reservado {
    background-color: #777;
    color: white;
    cursor: not-allowed;
}