.titleCard {
    font-size: 1.2rem;
    color: var(--color-enfasis);
    margin-bottom: 1rem;
}

.msg {
    font-size: 1rem;
    color: var(--color-superficie);
    text-align: center;
}

/*Tabla*/

.salasTable {
    width: max-content;
    border-radius: 8px;
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}

.salasTable thead {
    background-color: var(--color-enfasis);
}

.salasTable th,
.salasTable td {
    padding: 0.9rem 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.salasTable th {
    font-weight: 600;
}

.salasTable td {
    color: var(--color-superficie);
}


.salasTable tbody tr:nth-child(even) {
    background-color: var(--color-texto-secundario);
}

.actions {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
}

.salasCard {
    width: auto;
    height: auto;
    background-color: var(--color-secundario);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: -0.3rem 0 var(--color-enfasis);
    margin-bottom: 1.5rem;
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background: transparent;
    color: var(--color-enfasis);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color var(--transition);
}

.iconButton:hover {
    background-color: var(--color-fondo);
}

/*Form*/
.formCampo {
    margin-bottom: 1rem;
}

.formLabel {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--color-superficie)
}

.formInput {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    outline: none;
    border: 2px solid;
    font-size: 0.9rem;
    box-sizing: border-box;
    margin-top: 6px;
}

.input {
    border: 2px solid #e2e8f0;
}

.inputError {
    border-color: #c0392b;
}

.inputSuccess {
    border-color: #00a651;
}

.error {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #c0392b;
    font-size: .78rem;
    margin-top: 4px;
    font-weight: 600;
}

.previewContainer {
    margin-top: 1rem;
    max-height: 500px;
    max-width: 100%;
    overflow: auto;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    padding: 1rem;
}

/*Botones*/
.btnFormulario {
    width: 100%;
    padding: 12px;
    background: var(--color-enfasis);
    color: var(--color-texto);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}